<!DOCTYPE html>
<html lang="{{ site.Language.Locale }}" dir="{{ or site.Language.Direction `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partialCached "sprite.html" . }}
  <a class="skip-link" href="#main">Skip to content</a>
  <header class="site-header">
    <div class="site-header__inner">
      {{ partial "header.html" . }}
    </div>
  </header>
  <main id="main" class="site-main">
    {{ block "main" . }}{{ end }}
  </main>
  <footer class="site-footer">
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
